In [1]:
# Import Python Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Report Requirements
1. How does the performance of Bitcoin compare to the S&P 500 and the price of gold
2. Analyze Bitcoin's returns and volatility profile. Would it help improve the performance of a portfolio? Could Bitcoin be used as a hedge versus inflation?
3. CFO is looking to lower volatility in the fund. Explore building a portfolio using some or all of these assets and make a recommendation that minimizes over all risk.

# Read in Data

## Bitcoin Daily Data in US Dollars

* "date" - date from September 17, 2014 to November 17, 2021
* "open" - the price at the beginning of the trading day
* "high" - the hightest price reached that day
* "low" - the lowest price reached that day
* "close" - the price at the closing of the trading day
* "volume" - how many Bitcoin were traded that day

In [2]:
# Read in data
bitcoin = pd.read_csv('./data/bitcoin-usd.csv'
                        , parse_dates=['date'])
bitcoin.head()

        date        open        high         low       close      volume
0 2014-09-17  465.864014  468.174011  452.421997  457.334015  21056800.0
1 2014-09-18  456.859985  456.859985  413.104004  424.440002  34483200.0
2 2014-09-19  424.102997  427.834991  384.532013  394.795990  37919700.0
3 2014-09-20  394.673004  423.295990  389.882996  408.903992  36863600.0
4 2014-09-21  408.084991  412.425995  393.181000  398.821014  26580100.0

## S&P 500 Daily Data

* "date" - date from September 17, 2014 to November 17, 2021
* "open" - the index level at the beginning of the trading day
* "high" - the highest level reached that day
* "low" - the lowest level reached that day
* "close" - the level at the closing of the trading day
* "volume" - how many shares in the companies that make up the index were traded that day

In [3]:
sp500 = pd.read_csv('./data/sp500.csv', parse_dates=['date'])
sp500.head()

        date         open         high          low        close      volume
0 2014-09-17  1999.300049  2010.739990  1993.290039  2001.569946  3209420000
1 2014-09-18  2003.069946  2012.339966  2003.069946  2011.359985  3235340000
2 2014-09-19  2012.739990  2019.260010  2006.589966  2010.400024  4880220000
3 2014-09-22  2009.079956  2009.079956  1991.010010  1994.290039  3349670000
4 2014-09-23  1992.780029  1995.410034  1982.770020  1982.770020  3279350000

## Inflation and Gold as Monthly Data

* "date" - date from September 2014 to November 2021
* "gold_usd" - price in usd of gold for that month
* "cpi_us" - the inflation index for the US for that month (consumer price index)

In [5]:
monthly_data = pd.read_csv('./data/monthly_data.csv', parse_dates=['date'])
monthly_data.head()

        date  gold_usd   cpi_us
0 2014-09-01  1241.330  237.852
1 2014-10-01  1223.565  238.031
2 2014-11-01  1176.413  237.433
3 2014-12-01  1200.440  236.151
4 2015-01-01  1249.333  234.812